.link {
  padding: 5px 0;
}

.dark:hover {
  color: lightcyan;
  border-bottom: 2px lightcyan solid;
}
.light:hover {
  color: orange;
  border-bottom: 2px orange solid;
}

@media screen and (max-width: 640px) {
  .link {
    display: none;
  }
}
